*{
    margin: 0;
    padding: 0;
}
:root{

}
.cabecalho{
    background-color: aqua;
}
.corpo{
    background-color: antiquewhite;
}
.footer{
    background-color: rgba(0, 238, 255, 0.63);
}
.boton{
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: aquamarine;
    color: beige;
    text-decoration: none;
    border-radius: 5px;

}
.boton:hover{
    background-color: antiquewhite;
}
.boton:active{
    font-size: 20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
}
.imagem_grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;

}
.imagem_grid img{
    width: 300px;
    height: auto;
}